<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheet/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  </head>
  <body>
    <div id='nav-bg' style="top: -80px;"></div>
    <nav role="navigation" id="site-header" class="navbar">
      <div id="menuToggle" class="burger nav-item">
        <input type="checkbox" />
        <span id="burger-icon"></span>
        <span id="burger-icon"></span>
        <span id="burger-icon"></span>
        <ul id="menu">
          {{#if currentUser}}
            <p>Hello {{currentUser.username}}!</p>
          {{/if}}
          <a href="/"><li>Home</li></a>
          <a href="/services"><li>Explore</li></a>
          {{#unless currentUser}}
            <a href="/auth/login" ><li>Login</li></a>
            <a href="/auth/signup"><li>Signup</li></a>
          {{/unless}}
          {{#if currentUser}}
            <a href="/profile/{{currentUser._id}}"><li>Profile</li></a>
            <a href="/trades/booked"><li>My Bookings</li></a>
            <a href="/trades/requested"><li>My Requests</li></a>
            <a href="/services/create"><li>Add service</li></a>
            <form method="POST" action="/auth/logout">
              <button class="logout link" type="submit"><li>Logout</li></button>
            </form>
          {{/if}}
        </ul>
      </div>
      <div class="logo nav-item">
        <a href="/"><img src="../images/logo2.png" class="image" alt="logo"></a>
      </div>
      <div class="coins-container nav-item">
        {{#if currentUser}}
          <a href="/profile/{{currentUser._id}}"><img src="../images/hourglass.png" class="time" alt="time"></a>
          <a href="/profile/{{currentUser._id}}"><span class="coins">{{currentUser.coins}}</span></a>
        {{/if}}
      </div>
    </nav>
    <main id="site-main" class="container">
    {{{body}}}
    </main>
    <footer id="site-footer">
      <ul class="container">
        <li>About</li>
        <li>Contact</li>
        <li>Terms</li>
      </ul>
    </footer>
    <script src="../javascripts/main.js"></script>
  </body>
</html>
