<section class="profile">
  <img src="{{user.url}}" alt="{{user.username}}">
  <h3>{{user.username}}</h3>
  {{#if isMyProfile}}
    <div class="bottons">
      <a href="/services/create" class="button">Add service</a>
    </div>
  {{/if}}
  <h2>My trades</h2>
  <ul class="services">
    {{#each services}}
        <div class="card-container">
          <li class="card">
            <a href="/services/{{this.id}}">
              <img src="{{this.url}}" alt="{{this.name}}">
            </a>
            <h3 class="name">{{this.name}}</h3>
             <img src="../images/hourglass.png" class="cost-icon"><p class="time">{{this.time}}</p>
            {{#if ../this.isMyProfile}}
              <form action="/services/{{this.id}}/delete" method="post">
                <div class="field submit">
                  <button class="button">Delete</button>
                </div>
              </form>
            {{/if}}
          </li>
        </div>
    {{/each}}
  </ul>
</section>