<section class="services">
  <h2>Services</h2>
  <ul>
    {{#each services}}
    <a href="/services/{{this.id}}">
      <div class="card-container" >
        <li class="card">
          <img src="{{this.url}}" alt="{{this.name}}">
          <h3 class="name">{{this.name}}</h3>
          <p class="category">{{this.category}}</p>
          <p class="time">{{this.time}}</p>
          {{#each this.owner}}
            <p class="owner">{{this.username}}</p>
          {{/each}}
        </li>
      </div>
    </a>
    {{/each}}
  </ul>
</section>