<section class="form create">
<h1>Create service</h1>
<form method="POST" action="/services/create" class="services-create" enctype="multipart/form-data">
<div class="card-container">
  <div class="field" >
    <label>Name</label>
    <input type="text" name="name" value="{{fields.name}}"/ placeholder="Name of the service">
  </div>

  <div class="field" >
    <label>Description</label>
    <textarea name="description" value="{{fields.description}}"></textarea>
  </div>
  <div class="field" >
    <label>Category</label>
    <select name="category">
      <option value="">--Please choose an option--</option>
      <option value="languages" value="{{fields.category}}">Languages</option>
      <option value="technology" value="{{fields.category}}">Technology</option>
      <option value="arts" value="{{fields.category}}">Arts</option>
      <option value="social" value="{{fields.category}}">Social</option>
      <option value="sports" value="{{fields.category}}">Sports</option>
    </select>
  </div>
  <div class="field" >
    <label>Time</label>
     <select name="time">
      <option value="">--Please choose an option--</option>
      <option value="60" value="{{fields.time}}">60'</option>
      <option value="45" value="{{fields.time}}">45'</option>
      <option value="30" value="{{fields.time}}">30'</option>
      <option value="15" value="{{fields.time}}">15'</option>
    </select>
  </div>
  <div>
    <label>Image</label>
    <input type="file" name="photo">
  </div>
  {{#if message}}
    <p class="validation">{{message}}</p>
  {{/if}}
</div>
<div class="field submit">
  <button type="submit" class="button">Add</button>
</div>
</form>
</section>