<section class="services">
  <h2>Services</h2>
  <ul>
    {{#each services}}
    <a href="/services/{{this.id}}">
      <div class="card-container" style="background-image:url({{this.url}});background-size:100%">
        <li>
         {{!-- <img src="{{this.url}}" alt="{{this.name}}"> --}}
          <p class="name">{{this.name}}</p>
          <img src="../images/hourglass.png" class="cost-icon" alt="time"><p class="cost-time">{{this.time}}</p>
          <ul class="owner">{{this.owner.username}}</ul>
        </li>
      </div>
    </a>
    {{/each}}
  </ul>

</section>