<section class="section services">
  <div class="card-container">
  <div class="image">
    <img src="{{service.url}}" alt="{{service.name}}">
  </div>
  <h2><span class="name">{{service.name}}</span></h2>
  <a href="/profile/{{service.owner._id}}" class="username">Owner: {{service.owner.username}}</a>
  <p>{{service.description}}</p>
  <p class="category">{{service.category}}</p>
  <p class="time">{{service.time}}</p>
  </div>
  {{#unless currentUser}}
  <p>Log-in to book service</p>
  {{/unless}}
  {{#if message}}
        <p class="validation">{{message}}</p>
  {{/if}}
  {{#if currentUser}}
    <form action="/trades/{{service.id}}/{{service.owner._id}}/create" method="post" >
      <div class="field submit">
        <button class="button">Book</button>
      </div>
    </form>
  {{/if}}
</section>