<section class="section services">
  <h2><span class="name">{{service.name}}</span></h2>
  <div class="nav">
    <a href="/services">All services</a>
  </div>
  <p>{{service.category}}</p>
  <p>{{service.time}}</p>
  <p>{{service.description}}</p>
  <p>{{service.owner}}</p>  
</section>