<section class="section services">
  <div class="card-container">
  <div class="image">
    <img src="/images/services.jpg">
  </div>
  <h2><span class="name">{{service.name}}</span></h2>
  {{#each service.owner}}
    <p class="username">{{this.username}}</p>
  {{/each}}  
  <p>{{service.description}}</p>
  <p class="category">{{service.category}}</p>
  <p class="time">{{service.time}}</p>
  </div>
  {{#if currentUser}}
    <form action="/trades/{{service.id}}/create" method="post" >
      <div class="field submit">
        <button class="button">Book</button>
      </div>
    </form>
  {{/if}}
</section>