<section class="trades">
  <h2>My bookings</h2>
  {{!-- {{#unless trade}}
  <p>Yo don't have any service booked, find one <a href="/services/">here!</a></p>
  {{/unless}} --}}
  <ul>
    {{#each trades}}
      {{#unless this.isRejected}}
        {{#unless this.isConfirmed}}
          <div class="card-container">
            <div class="image">
              <img src="{{this.service.url}}" alt="{{this.service.name}}">
            </div>
            <li class="card">
              <h3 class="name">{{this.service.name}}</h3>
              <img src="../images/hourglass.png" class="cost-icon" alt="time"><p class="time">{{this.service.time}}</p>
              <p class="owner">Provider: {{this.owner.username}}</p>
              <a href="https://api.whatsapp.com/send?phone={{this.owner.contact}}">Contact the provider</a>
              <p class="state">{{this.consumerState}}</p>
            </li>
          {{#if message}}
            <p class="validation">{{message}}</p>
          {{/if}}
          {{#if this.isAccepted}}
          <form action="/trades/{{this.id}}/confirm" method="post" >
            <div class="field submit">
              <button class="button">Confirm</button>
            </div>
          </form>
          {{/if}}
          <form action="/trades/{{this.id}}/reject" method="post" >
            <div class="field submit">
              <button class="button">Reject</button>
            </div>
          </form>
          </div>
        {{/unless}}
      {{/unless}}
    {{/each}}
  </ul>
