<section class="trades">
  <h2>My Requests</h2>
  <ul>
    {{#each trades}}
      {{#unless this.isRejected}}
        {{#unless this.isConfirmed}}
          <div class="card-container">
            <div class="image">
              <img src="{{this.service.url}}" alt="{{this.service.name}}">
            </div>
            <li class="card">
              <h3 class="name">{{this.service.name}}</h3>
              <p class="owner">{{this.consumer.username}}</p>
              <a href="https://api.whatsapp.com/send?phone={{this.consumer.contact}}">Send a message to the consumer</a>
              <p class="category">{{this.service.category}}</p>
               <img src="../images/hourglass.png" class="cost-icon" alt="time"><p class="time">{{this.service.time}}</p>
              <p class="state">{{this.providerState}}</p>
            </li>
          {{#unless this.isAccepted}}
            <form action="/trades/{{this.id}}/accept" method="post" >
              <div class="field submit">
                <button class="button">Accept</button>
              </div>
            </form>
          {{/unless}}
          {{#if this.isAccepted}}
            <form action="/trades/{{this.id}}/confirm" method="post" >
              <div class="field submit">
                <button class="button">Confirm</button>
              </div>
            </form>
          {{/if}}
            <form action="/trades/{{this.id}}/reject" method="post" >
              <div class="field submit">
                <button class="button">Reject</button>
              </div>
            </form>
          </div>
        {{/unless}}
      {{/unless}}
    {{/each}}
  </ul>
</section>